<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="me.zhangjh.crawler.service.MsgMapper">
  <resultMap id="BaseResultMap" type="me.zhangjh.crawler.entity.MsgDO">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="is_deleted" jdbcType="BIT" property="isDeleted" />
    <result column="user_id" jdbcType="BIGINT" property="userId" />
    <result column="type" jdbcType="INTEGER" property="type" />
    <result column="content" jdbcType="VARCHAR" property="content" />
    <result column="read_status" jdbcType="INTEGER" property="readStatus" />
    <result column="feature" jdbcType="VARCHAR" property="feature" />
  </resultMap>
  <sql id="Base_Column_List">
    id, create_time, update_time, is_deleted, user_id, type, content, read_status, feature
  </sql>
  <sql id="Where_Condition">
    <if test="msgId != null">
      and id = #{msgId}
    </if>
    <if test="userId != null">
      <!-- 默认查询系统消息-->
      and (user_id = #{userId} or user_id = 0)
    </if>
    <if test="msgType != null">
      and type = #{msgType}
    </if>
    <if test="readStatus != null">
      and read_status = #{readStatus}
    </if>
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from tbl_msg
    where id = #{id,jdbcType=BIGINT}
  </select>
  <select id="selectByQuery" parameterType="me.zhangjh.crawler.entity.MsgQueryDO" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from tbl_msg
    where is_deleted = 0
    <include refid="Where_Condition" />
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from tbl_msg
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="me.zhangjh.crawler.entity.MsgDO">
    insert into tbl_msg (user_id, type, content, feature)
    values (#{userId,jdbcType=BIGINT}, #{type,jdbcType=INTEGER},
      #{content,jdbcType=VARCHAR}, #{feature,jdbcType=VARCHAR})
  </insert>
  <insert id="insertBatch" parameterType="java.util.List">
    insert into tbl_msg (user_id, type, content, feature)
    values
    <foreach collection="list" item="item" index="index" separator=",">
      (
      #{item.userId,jdbcType=BIGINT}, #{item.type,jdbcType=INTEGER},
      #{item.content,jdbcType=VARCHAR}, #{item.feature,jdbcType=VARCHAR}
      )
    </foreach>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="me.zhangjh.crawler.entity.MsgDO">
    update tbl_msg
    <set>
      <if test="isDeleted != null">
        is_deleted = #{isDeleted,jdbcType=BIT},
      </if>
      <if test="userId != null">
        user_id = #{userId,jdbcType=BIGINT},
      </if>
      <if test="type != null">
        type = #{type,jdbcType=INTEGER},
      </if>
      <if test="content != null">
        content = #{content,jdbcType=VARCHAR},
      </if>
      <if test="readStatus != null">
        read_status = #{readStatus,jdbcType=INTEGER},
      </if>
      <if test="feature != null">
        feature = #{feature,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="me.zhangjh.crawler.entity.MsgDO">
    update tbl_msg
    set create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      is_deleted = #{isDeleted,jdbcType=BIT},
      user_id = #{userId,jdbcType=BIGINT},
      type = #{type,jdbcType=INTEGER},
      content = #{content,jdbcType=VARCHAR},
      read_status = #{readStatus,jdbcType=INTEGER},
      feature = #{feature,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>