<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="me.zhangjh.crawler.service.UserMapper">
  <resultMap id="BaseResultMap" type="me.zhangjh.crawler.entity.UserDO">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="is_deleted" jdbcType="BIT" property="isDeleted" />
    <result column="mobile" jdbcType="VARCHAR" property="mobile" />
    <result column="outer_id" jdbcType="VARCHAR" property="outerId" />
    <result column="user_info" jdbcType="VARCHAR" property="userInfo" />
  </resultMap>
  <sql id="Base_Column_List">
    id, create_time, update_time, is_deleted, mobile, outer_id, user_info
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from tbl_user
    where id = #{id,jdbcType=BIGINT}
  </select>
  <select id="selectByOuterId" parameterType="java.lang.String" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from tbl_user
    where is_deleted = 0
    and outer_id = #{outerId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from tbl_user
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="me.zhangjh.crawler.entity.UserDO">
    insert into tbl_user (mobile, outer_id, user_info)
    values (#{mobile,jdbcType=VARCHAR}, #{outerId,jdbcType=VARCHAR},
      #{userInfo,jdbcType=VARCHAR})
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="me.zhangjh.crawler.entity.UserDO">
    update tbl_user
    <set>
      <if test="isDeleted != null">
        is_deleted = #{isDeleted,jdbcType=BIT},
      </if>
      <if test="mobile != null">
        mobile = #{mobile,jdbcType=VARCHAR},
      </if>
      <if test="outerId != null">
        outer_id = #{outerId,jdbcType=VARCHAR},
      </if>
      <if test="userInfo != null">
        user_info = #{userInfo,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="me.zhangjh.crawler.entity.UserDO">
    update tbl_user
    set mobile = #{mobile,jdbcType=VARCHAR},
      outer_id = #{outerId,jdbcType=VARCHAR},
      user_info = #{userInfo,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>
